@using ElectronicLearn.DataLayer.Entities.Course;
@model List<CourseGroup>
@{

}

<div class="main-menu">
    <div class="container">
        <nav>
            <span class="responsive-sign"><i class="zmdi zmdi-menu"></i></span>
            <ul>
                @foreach (var group in Model.Where(g => g.ParentId == null))
                {
                    <li>
                        <a href="/Course/?selectedGroups=@group.CourseGroupId"> @group.CourseGroupTitle </a>
                        @if (Model.Any(g => g.ParentId == group.CourseGroupId))
                        {
                            <ul>
                                @foreach (var sub in Model.Where(g => g.ParentId == group.CourseGroupId))
                                {
                                    <li>
                                        <a href="/Course/?selectedGroups=@sub.CourseGroupId"> @sub.CourseGroupTitle </a>
                                    </li>
                                }
                            </ul>
                        }

                    </li>
                }
            </ul>
        </nav>
    </div>
</div>