ElectronicLearn.Core/Senders/SendEmail.cs
ElectronicLearn.Web/wwwroot/Courses/Episodes
ElectronicLearn.Web/wwwroot/Courses/Demoes
ElectronicLearn.Web/wwwroot/img/UserAvatars
ElectronicLearn.Web\wwwroot\img\UserAvatars