@using ElectronicLearn.Core.Convertors;
@using ElectronicLearn.Core.DTOs;
@using ElectronicLearn.Core.Services.Interfaces;
@using ElectronicLearn.DataLayer.Entities.Course;
@model Tuple<List<QuestionListItemViewModel>, Course>
@{
    ViewData["Title"] = $"سوالات دوره {Model.Item2.CourseTitle}";
}

<h1 class="fs-3 mb-5">سوالات دوره @Model.Item2.CourseTitle</h1>


<div class="row">
    <div class="col col-12 col-md-9 col-lg-8">
        <div class="d-flex justify-content-between align-items-center w-100 mb-3">
            <form asp-controller="Forum" asp-action="CourseQuestions" method="get">
                <input type="hidden" name="id" value="@Model.Item2.CourseId"/>
                <input class="d-inline-block form-control w-auto" type="text" name="search" />
                <button type="submit" class="btn btn-info p-1 text-white">
                    <i class="bi bi-search vertical-center"></i>
                </button>
            </form>

            <a class="btn btn-success d-inline-block w-auto ms-auto" asp-controller="Forum" asp-action="CreateQuestion" asp-route-id="@Model.Item2.CourseId">پرسش سوال</a>
        </div>
        @foreach (var question in Model.Item1)
        {
            <partial name="_QuestionItem" model="@question"/>
        }
    </div>
</div>