@model ElectronicLearn.DataLayer.Entities.User.User
<div style="direction: rtl; padding: 20px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; text-align: center">
    <h2 style="text-align: center">@Model.UserName عزیز !</h2>
    <p style="text-align: center">جهت تغییر رمز عبور حساب کاربری الکترونیک لرن خود روی لینک زیر کلیک کنید.</p>
    <p style="text-align: center; padding-top: 20px">
        <a style="padding: 12px 22px; text-decoration: none; background-color: #5662F6; color: #ffffff; border-radius: 15px; font-size: 18px; font-weight: 400;" href="https://localhost:44377/Account/ResetPassword?activeCode=@Model.ActiveCode">
            تغییر رمز عبور
        </a>
    </p>
</div>