@page
@model ElectronicLearn.Web.Pages.Admin.Courses.CreateEpisodeModel
@{
}

@{
    ViewData["Title"] = "افزودن بخش جدید";
}


<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col col-12 col-md-6 col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    اطلاعات بخش
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input type="hidden" asp-for="AdminEpisodeViewModel.CourseId" />

                    <div class="form-group">
                        <label>عنوان بخش</label>
                        <input type="text" class="form-control" asp-for="AdminEpisodeViewModel.CourseEpisodeTitle">
                    </div>
                    <div class="form-group">
                        <label>زمان بخش</label>
                        <input type="text" value="00:00:00" class="form-control" asp-for="AdminEpisodeViewModel.EpisodeTime">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="AdminEpisodeViewModel.IsFree" type="checkbox"> رایگان است ؟
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @if ((bool?)ViewData["FileExists"] == true)
                        {
                            <div class="alert alert-danger">
                                نام فایل معتبر نیست، لفطا نام فایل را تغییر دهید.
                            </div>
                        }
                        <label>فایل بخش</label>
                        <input type="file" class="form-control" asp-for="AdminEpisodeViewModel.EpisodeFile">
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-12 col-md-6 col-lg-4">
            <button type="submit" class="btn btn-success btn-lg btn-block">افزودن بخش</button>
        </div>
    </div>
</form>