@model ElectronicLearn.DataLayer.Entities.User.User
@{
    ViewData["Title"] = "ارسال ایمیل بازیابی رمز عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="">الکترونیک لرن</a></li>
        <li class="breadcrumb-item active" aria-current="page">ارسال ایمیل بازیابی رمز عبور</li>
    </ul>
</nav>

<div class="container-content">
    <div class="alert alert-success">
        <h2>@Model.UserName عزیز !</h2>
        <p>ایمیلی حاوی لینک تغییر رمز عبور به ایمیل @Model.Email ارسال شد.</p>
        <p>جهت ادامه فرایند تغییر رمز عبور وارد ایمیل خود شوید و روی لینک کلیک کنید.</p>
    </div>
</div>