@model ElectronicLearn.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="">الکترونیک لرن</a></li>
        <li class="breadcrumb-item active" aria-current="page">بازیابی رمز عبور</li>
    </ul>
</nav>

<main class="client-page">
    <div class="container-content">

        <header><h2> بازیابی رمز عبور </h2></header>

        <div class="form-layer">

            <form asp-route="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger">
                </div>

                <div class="input-group">
                    <span class="input-group-text" id="email"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email">
                </div>

                <button class="btn btn-success"> تایید و ارسال </button>
            </form>

        </div>

    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}