@model ElectronicLearn.Core.DTOs.ResetPasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="">الکترونیک لرن</a></li>
        <li class="breadcrumb-item active" aria-current="page">تغییر رمز عبور</li>
    </ul>
</nav>

<main class="client-page">
    <div class="container-content">

        <header><h2> تغییر رمز عبور </h2></header>

        <div class="form-layer">

            <form asp-route="ResetPassword" method="post">

                @if (ViewBag.IsSuccess != null && ViewBag.IsSuccess == true)
                {
                    <div class="alert alert-success">
                        <p>رمز عبور شما با موفقیت تغییر یافت.</p>
                    </div>

                    <script>
                        var delay = 3000;
                        setTimeout(function () { window.location = "@Context.Request.Scheme" + "://" + "@Context.Request.Host" + "/Login"; }, delay);
                    </script>
                }

                <div asp-validation-summary="All" class="text-danger">
                </div>

                <input type="hidden" asp-for="ActiveCode"/>

                <div class="input-group">
                    <span class="input-group-text" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                </div>

                <div class="input-group">
                    <span class="input-group-text" id="repassword"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور " aria-describedby="repassword">
                </div>

                <button class="btn btn-success"> تایید و ارسال </button>

            </form>
        </div>

    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}