@model ElectronicLearn.Core.DTOs.ChangePasswordViewModel

@{
    ViewData["Title"] = "ویرایش رمز عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="">الکترونیک لرن</a></li>
        <li class="breadcrumb-item active" aria-current="page">ویرایش رمز عبور</li>
    </ul>
</nav>

<div class="user-account">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <partial name="_UserPanelSidebarPartial" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
            <section class="user-account-content">
                <header><h1> ویرایش رمز عبور </h1></header>
                <div class="inner form-layer">
                    <form asp-action="ChangePassword" method="post">

                        @if (ViewBag.IsSuccess == true)
                        {
                            <div class="alert alert-success">
                                رمز عبور شما با موفقیت ویرایش شد.
                            </div>
                        }

                        <div class="text-danger" asp-validation-summary="All"></div>

                        <div class="row">
                            <div class="col-md-7 col-sm-8 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-text" id="oldpassword"><i class="zmdi zmdi-lock"></i></span>
                                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="رمز عبور فعلی" aria-describedby="oldpassword">
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-8 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-text" id="password"><i class="zmdi zmdi-lock"></i></span>
                                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور جدید" aria-describedby="password">
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-8 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-text" id="repassword"><i class="zmdi zmdi-lock"></i></span>
                                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور جدید" aria-describedby="repassword">
                                </div>
                            </div>

                            <div class="col-md-7 col-sm-8 col-xs-12">
                                <button class="btn btn-success"> ویرایش رمز عبور </button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>